
/*#region Import */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;0,800;1,400&family=Lora:ital@0;1&display=swap');

/*#endregion */

/*#region base/header/footer*/
body {
    color: #254069;
    /*background-color: #F8EEC4;*/
    font-family: 'EB Garamond', serif;
    background-image: url(/images/library-cropped.png);
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 2em;
}

header {
    width: 95%;
    margin: auto;
    font-family: 'Lora', serif;
    display: block;
    background-color: rgba(248, 238, 196, .9);
}

    header section {
        display: inline-block;
    }

#logo {
    max-width: 19%;
    margin-left: 6%;
    margin-top: 1%;
}

#nameAndSlogan {
    margin-right: 10%;
    float: right;
    width: 60%;
}

#slogan {
    color: #5D0808;
    font-style: italic;
}

.socialMediaLogos {
    font-size: 35px;
    text-align: right;
    min-width: 30%;
    float: right;
}

    .socialMediaLogos i {
        margin-right: 8%;
    }

    .socialMediaLogos a {
        color: #254069;
    }

main {
    width: 95%;
    padding: 2%;
    margin: auto;
    background-color: rgba(248, 238, 196, .9);
    box-sizing: border-box;
}

footer {
    width: 95%;
    margin: auto;
    border-top: solid 2px #254069;
    padding: 2% 3% 3% 3%;
    box-sizing: border-box;
    background-color: rgba(248, 238, 196, .9);
}

    footer section {
        display: inline-block;
    }

.clear {
    clear: both;
}

/*#endregion */

/*#region Nav Bar */

nav {
    width: 95%;
    margin: auto;
}

    nav ul li a {
        color: #F8EEC4;
        font-weight: bold;
        text-decoration: none;
    }

        nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
            text-decoration: underline;
        }

    nav ul {
        background-color: #254069;
        padding: 0;
        margin: 0;
    }

        nav ul li {
            display: inline-block;
            margin: 10px 20px;
        }

            nav ul li a {
                display: block;
            }

                nav ul li a.currentPage {
                    text-decoration: underline;
                }

/*#endregion */

/*#region Index */

#aboutUs {
    margin-left: 5%;
}

#chooseUs h1 {
    text-align: center;
}

#aboutUsLeft {
    width: 25%;
    float: left;
}

#aboutUsRight {
    width: 75%;
    float: right;
}

#chooseUsLeft {
    width: 50%;
    float: left;
}

#chooseUsRight {
    width: 50%;
    float: right;
}

#pen {
    width: 80%;
    margin: auto;
}

#chooseUsRight div, #chooseUsLeft div {
    height: 440px;
}

#chooseUsLeftText {
    width: 90%;
    margin-left: 10%;
}

#castleInterior {
    width: 90%;
    margin: auto;
}

#castle {
    width: 90%;
    margin-left: 10%;
}

/*#endregion */

/*#region Classes */

#classSubjects {
    text-align: center;
    width: 80%;
    margin: auto;
}

.galleryItem {
    width: 30%;
    display: inline-block;
    margin: 1% 1%;
    border: solid 2px #254069;
}

    .galleryItem:hover {
        border: solid 4px #254069;
    }

    .galleryItem a img {
        width: 100%;
    }

    .galleryItem h3 {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .galleryItem p {
        min-height: 100px;
    }

.classTables {
    width: 80%;
    margin: auto;
}

.classListTable {
    width: 80%;
    margin: auto;
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    text-align: center;
    border: solid 2px #254069;
    border-top: none;
    border-spacing: 0;
}

thead {
    color: #F8EEC4;
    background-color: rgba(37, 64, 105, .75);
}

tr:nth-child(2) {
    background-color: rgba(37, 64, 105, .25);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    background-color: rgba(37, 64, 105, .95);
    overflow-x: hidden;
    padding-top: 100px;
    transition: .3s;
}

    .sidenav a {
        padding: 8px 8px 8px 45px;
        text-decoration: none;
        font-size: 17px;
        color: #F8EEC4;
        display: block;
        transition: .3s;
    }

        .sidenav a:hover {
            text-decoration: underline;
        }

.close-btn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 30px !important;
    margin-left: 50px;
}

.button {
    background: rgba(37, 64, 105, .8);
    height: 100%;
    width: 20px;
    z-index: 1030;
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer;
}

.vertical-text {
    position: absolute;
    top: 50%;
    left: 0;
    writing-mode: vertical-rl;
    color: #F8EEC4;
}

/*#endregion */

/*#region Team */
#teamMain {
    width: 80%;
    float: left;
    border-right: solid 2px #254069;
    box-sizing: border-box;
}

#teamAside {
    width: 20%;
    float: right;
    padding-left: 3%;
    box-sizing: border-box;
}

    #teamAside ul {
        padding-inline-start: 20px;
    }

        #teamAside ul li a {
            color: #254069;
            font-weight: bold;
            text-decoration: none;
        }

            #teamAside ul li a:hover, #teamAside ul li a:active, #teamAside ul li a:focus {
                text-decoration: underline;
                text-decoration-color: #5D0808;
            }

.teamHeaders {
    text-align: center;
}

.teamImageLeft {
    width: 25%;
    float: left;
}

.teamImage {
    width: 80%;
    margin: auto;
    border-radius: 50%;
}

.teamTextRight {
    width: 75%;
    float: right;
}

/*#endregion */

/*#region Contact */
#contactUs {
    width: 50%;
    margin: auto;
    text-align: center;
}

#ringUs {
    color: #5D0808;
}

#mailUs {
    color: #5D0808;
}

/*#endregion */
