/*#region Import */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;0,800;1,400&family=Lora:ital@0;1&display=swap');

/*#endregion */

/*#region base/header/footer*/
body {
    color: #254069;
    /*background-color: #F8EEC4;*/
    font-family: 'EB Garamond', serif;
    background-image: url(/images/library-cropped.png);
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 2em;
}

header {
    width: 95%;
    margin: auto;
    font-family: 'Lora', serif;
    display: block;
    background-color: rgba(248, 238, 196, .9);
}

    header section {
        display: inline-block;
    }

#logo {
    max-width: 19%;
    margin-left: 6%;
    margin-top: 1%;
}

#nameAndSlogan {
    margin-right: 10%;
    float: right;
}

.socialMediaLogos {
    font-size: 35px;
    text-align: right;
    min-width: 30%;
    float: right;
}

    .socialMediaLogos i {
        margin-right: 8%;
    }

main {
    width: 95%;
    padding: 2%;
    margin: auto;
    background-color: rgba(248, 238, 196, .9);
    box-sizing: border-box;
}

footer {
    width: 95%;
    margin: auto;
    border-top: solid 2px #254069;
    padding: 2% 3% 3% 3%;
    box-sizing: border-box;
    background-color: rgba(248, 238, 196, .9);
}

    footer section {
        display: inline-block;
    }

.clear {
    clear: both;
}

/*#endregion */

/*#region Nav Bar */

nav {
    width: 95%;
    margin: auto;
}

    nav ul li a {
        color: #F8EEC4;
        font-weight: bold;
        text-decoration: none;
    }

        nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
            text-decoration: none;
            background-color: #F8EEC4;
            color: #254069;
        }

    nav ul {
        background-color: #254069;
        padding: 0;
        margin: 0;
    }

        nav ul li {
            display: inline-block;
            margin: 10px 20px;
        }

            nav ul li a {
                display: block;
            }

/*#endregion */

/*#region Index */

#chooseUs h1 {
    text-align: center;
}

#aboutUsLeft {
    width: 25%;
    float: left;
}

#aboutUsRight {
    width: 75%;
    float: right;
}

#chooseUsLeft {
    width: 50%;
    float: left;
}

#chooseUsRight {
    width: 50%;
    float: right;
}

#pen {
    width: 80%;
    margin: auto;
}

#castleInterior {
    width: 50%;
    margin: auto;
}

#castle {
    width: 50%;
    margin: auto;
}

/*#endregion */

/*#region Classes */

#classSubjects {
}

#classListTables {
}

/*#endregion */

/*#region Team */

#teamMain {
    width: 80%;
    float: left;
    border-right: solid 2px #254069;
    box-sizing: border-box;
}

#teamAside {
    width: 20%;
    float: right;
    padding-left: 3%;
    box-sizing: border-box;
}

    #teamAside ul li a {
        color: #254069;
        font-weight: bold;
        text-decoration: none;
    }

.teamHeaders {
    text-align: center;
}

.teamImageLeft {
    width: 25%;
    float: left;
}

.teamImage {
    width: 80%;
    margin: auto;
    border-radius: 50%;
}

.teamTextRight {
    width: 75%;
    float: right;
}

/*#endregion */

/*#region Contact */
#contactUs {
    width: 50%;
    margin: auto;
    text-align: center;
}

/*#endregion */
