/*#region base*/
body {
    color: #254069;
    background-color: #F8EEC4;
}

header {
}

main {
}

h1 {
}

h2 {
}

p {
}

/*#endregion */

/*#region Nav Bar */

nav ul li a {
    color: #F8EEC4;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
        text-decoration: none;
        background-color: #F8EEC4;
        color: #254069;
    }

nav ul {
    background-color: #254069;
    padding: 0;
}

    nav ul li {
        display: inline-block;
        margin: 10px 20px;
    }

/*#endregion */

/*#region Index */



/*#endregion */

/*#region Classes */

#classSubjects {
}

#classListTables {
}

/*#endregion */

/*#region Team */

#leadership {
}

#sales {
}

#administration {
}

#instructors {
}

/*#endregion */

/*#region Contact */

#contactUs {
}

/*#endregion */
